<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBdsYgH7-B2G_PcjwCr3D5Iq3ilReenskg</string>
	<key>GCM_SENDER_ID</key>
	<string>88169992530</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.taskapp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>taskapp-619da</string>
	<key>STORAGE_BUCKET</key>
	<string>taskapp-619da.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:88169992530:ios:b62d85384e13912d5d6a8b</string>
</dict>
</plist>